.card {
  width: 300px;
  height: 350px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  border: 1px solid var(--accent-100);
  --rotate-animation: rotate(45deg);
  --scale-animation: scale(0);
  --github: blue;
  --bg-instagram: linear-gradient(to right, #8a2387, #e94057, #f27121);
  --bg-twitter: rgb(25, 173, 206);
  --bg-linkedin: rgb(30, 48, 131);
}

.card::before {
  content: "";
  height: 110%;
  width: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: -1;
}

.imageMockup {
  color: #fff;
  width: 98%;
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  letter-spacing: 2px;
  pointer-events: none;
  transform: scale(1) translateY(-50%);
  font-family: var(--font-mulish);
  transition: transform 500ms;
}

.card:hover .imageMockup {
  transform: scale(0);
}

.card__figure {
  width: 100%;
  height: 65%;
  border-radius: 10px;
  overflow: hidden;
  transform: var(--rotate-animation) var(--scale-animation);
  transition: transform 600ms ease 100ms;
}

.card:hover .card__figure {
  --rotate-animation: rotate(0);
  --scale-animation: scale(1);
}

.card__figure svg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__info {
  display: flex;
  flex-direction: column;
  transform: var(--scale-animation);
  transition: transform 600ms ease 100ms;
}

.card:hover .card__info {
  --scale-animation: scale(1);
}

.card__name {
  color: #fff;
  font-size: 28px;
  letter-spacing: 1px;
  font-family: var(--font-primary);
}

.card__ocupation {
  color: aliceblue;
  font-family: var(--font-secondary);
  font-size: 16px;
  text-align: left;
}

.card__links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  --transform-animation: translateY(-10px);
}

.card__links svg {
  height: 55px;
  width: 55px;
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.211);
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.card__links svg:hover {
  transform: var(--transform-animation);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.card__links svg:nth-child(1):hover {
  background: var(--bg-facebook);
}

.card__links svg:nth-child(2):hover {
  background: var(--bg-instagram);
}
