.heroSectionContainer {
    width: 100%;
    display: grid;
    place-items: center;
    min-height: 88vh;
}

.heroSectionContainer__text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text-100);
    padding: 20px;
    width: 40%;
}

h1 {
    font-size: 2.5rem;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-primary);
    font-style: italic;
    text-align: center;
}

.dynamicText {
    display: inline-block;
    color: #0070f3;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1s forwards, fadeOut 1s 1s forwards;
}

.finalText {
    display: inline-block;
    color: #0070f3;
    opacity: 1;
    animation: slideIn 1s forwards;
    transform: translateY(0);
}

.heroSection__top {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-evenly;
    animation: slideIn 4s forwards;
}

.heroSectionContainer__finalText {
    width: 40%;
    border-radius: 20px;
    height: 100%;
    padding: 60px 30px;
    margin: 20px 0;
    color: var(--text-100);
    background-color: var(--bg-200);
}

.heroSectionContainer__finalText p,
.heroSectionContainer__finalText h1 {
    font-family: var(--font-text);
    margin: 0;
    padding: 0;
    font-size: 20px;
    animation: slideIn 4.5s forwards;
}

.heroSectionContainer__finalText h1 {
    font-size: 2.5rem;
}

.heroSectionContainer__particleOrb {
    width: 30%;
    animation: slideIn 4.5 forwards;
}









@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}