.modelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 85vh; 
    padding: 0;
    margin: 0;

}

.canva {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

